<!DOCTYPE HTML>
<html lang="en">

<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    {{--  <link type="text/css" rel="stylesheet" href="style.css">  --}}
    {{ style('searchStyle') }}
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--=============== added ===============-->
</head>

<body>
   <!--Navbar-->
   <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <strong>Part Searcher</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <a class="nav-link" href="/about">about
              <span class="sr-only">(current)</span>
            </a>
          </ul>
          <form class="form-inline">
            <div class="md-form my-0">
              <a class="nav-link" href="/login">Log Out
                  <span class="sr-only">(current)</span>
                </a>                  
              </div>
          </form>
        </div>
      </div>
    </nav>
    <!--loader-->
    <div class="loader-wrap">
        <div class="pin"></div>
        <div class="pulse"></div>
    </div>
    <!--loader end-->
    <!-- Main  -->
    <div id="main">

        <!-- Content-->
        <div class="content full-height ">
            <!--section -->
            <section class="hero-section no-dadding full-height" id="sec1">
              <div class="slider-container-wrap full-height fs-slider fl-wrap">
                  <div class="bg" data-bg="wall.jpg"></div>
                  <div class="overlay"></div>
                  <div>
                    <div class="container">
                      <div class="intro-item fl-wrap">
                        <h2>Items</h2>
                        <h3>find what you will</h3>
                      </div>
                      {{--  result for listing routing will be in format: search?serach=A+test+to+see+what+will+reult  --}}
                      <form method="get" action="listing/">
                        <div class="main-search-input-wrap">
                            <div class="main-search-input fl-wrap">
                              <div class="main-search-input-item" style="width:100%;">
                                    <input type="text" name="search" class="BY" placeholder="what are you looking for ?">
                              </div>
                              <button type="submit" style=" background-color: #e0a307" class="main-search-button BY">Search</button>

                            </div>
                          </div>
                        </form>
                    </div>
                  </div>

                </div>
            </section>
           
        </div>
        <a class="to-top"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/scripts.js"></script>
    
</body>

</html>







