@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,800i,900|Quicksand:300,400,500,700&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
html{
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 13px;
	height:100%;
	text-align:center;
	background:#2F3B59;
	color:#000;
	font-family: 'Quicksand', sans-serif;
}
@-o-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@viewport {width: device-width;}
/*--------------Typography--------------------------------------*/
p {
  font-size: 12px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight:500;
  color: #878C9F;
}
.navbar{
  position: relative;
}
.mask ::before{
  height: 100%;
}